benefit-coding/src/main/resources/wsdl/ccspclaim.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="ClaimoperationDecisionService" targetNamespace="http://www.ibm.com/rules/decisionservice/Ccspdeployment/Claimoperation" xmlns:dstns="http://www.ibm.com/rules/decisionservice/Ccspdeployment/Claimoperation" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.ibm.com/rules/decisionservice/Ccspdeployment/Claimoperation/param" xmlns:xom1="http://www.ibm.com/rules/decisionservice/Ccspdeployment/Claimoperation">
      <xsd:import namespace="http://www.ibm.com/rules/decisionservice/Ccspdeployment/Claimoperation"/>
      <xsd:element name="claim">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="claim" type="xom1:claim"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xs:schema targetNamespace="http://www.ibm.com/rules/decisionservice/Ccspdeployment/Claimoperation" version="1.0" xmlns:param="http://www.ibm.com/rules/decisionservice/Ccspdeployment/Claimoperation/param" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <xsd:import namespace="http://www.ibm.com/rules/decisionservice/Ccspdeployment/Claimoperation/param"/>

  <xs:complexType name="claim">
    <xs:sequence>
      <xs:element name="accumulatorINDeductAmount" type="xs:double"/>
      <xs:element name="accumulatorINOpexAmount" type="xs:double"/>
      <xs:element name="accumulatorONDeductAmount" type="xs:double"/>
      <xs:element name="accumulatorONOpexAmount" type="xs:double"/>
      <xs:element name="age" type="xs:int"/>
      <xs:element name="billedAmount" type="xs:double"/>
      <xs:element name="coInsuranceAmount" type="xs:double"/>
      <xs:element name="coPayAmount" type="xs:double"/>
      <xs:element name="deductableAmountLeft" type="xs:double"/>
      <xs:element name="diagnosticCode" type="xs:int"/>
      <xs:element minOccurs="0" name="isCoInsuranceAllowed" type="xs:string"/>
      <xs:element minOccurs="0" name="isCoPayAllowed" type="xs:string"/>
      <xs:element minOccurs="0" name="isDeductableAllowed" type="xs:string"/>
      <xs:element minOccurs="0" name="isIgnoreCostShare" type="xs:string"/>
      <xs:element minOccurs="0" name="isNetwork" type="xs:string"/>
      <xs:element minOccurs="0" name="isServiceAllowed" type="xs:string"/>
      <xs:element name="maxDeductableAmountAllowed" type="xs:double"/>
      <xs:element name="maximumAllowedAmount" type="xs:double"/>
      <xs:element name="memberId" type="xs:int"/>
      <xs:element name="paidByCompanyInsuranceAmount" type="xs:double"/>
      <xs:element name="patientCoInsuranceAmount" type="xs:double"/>
      <xs:element name="patientCoPayAmount" type="xs:double"/>
      <xs:element name="patientDeductableAmount" type="xs:double"/>
      <xs:element minOccurs="0" name="planName" type="xs:string"/>
      <xs:element name="procedureCode" type="xs:int"/>
      <xs:element name="serviceCode" type="xs:int"/>
      <xs:element minOccurs="0" name="serviceName" type="xs:string"/>
      <xs:element name="totalDeductableAmount" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
<xsd:element name="ClaimoperationRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="DecisionID" type="xsd:string"/>
            <xsd:element ref="param:claim"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ClaimoperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="qualified" name="DecisionID" type="xsd:string"/>
            <xsd:element ref="param:claim"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ClaimoperationException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="exception" nillable="false" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="ClaimoperationResponse">
    <wsdl:part element="dstns:ClaimoperationResponse" name="ClaimoperationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ClaimoperationRequest">
    <wsdl:part element="dstns:ClaimoperationRequest" name="ClaimoperationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ClaimoperationSoapFault">
    <wsdl:part element="dstns:ClaimoperationException" name="fault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ClaimoperationDecisionService">
    <wsdl:operation name="Claimoperation">
      <wsdl:input message="dstns:ClaimoperationRequest" name="ClaimoperationRequest">
    </wsdl:input>
      <wsdl:output message="dstns:ClaimoperationResponse" name="ClaimoperationResponse">
    </wsdl:output>
      <wsdl:fault message="dstns:ClaimoperationSoapFault" name="ClaimoperationSoapFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CcspdeploymentClaimoperationBinding" type="dstns:ClaimoperationDecisionService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Claimoperation">
      <soap:operation soapAction="Claimoperation" style="document"/>
      <wsdl:input name="ClaimoperationRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="ClaimoperationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ClaimoperationSoapFault">
        <soap:fault name="ClaimoperationSoapFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClaimoperationDecisionService">
    <wsdl:port binding="dstns:CcspdeploymentClaimoperationBinding" name="CcspdeploymentClaimoperationPort">
      <soap:address location="http://35.165.45.103:9080/DecisionService/ws/ccspdeployment/claimoperation/v75"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>