benefit-coding/src/main/resources/wsdl/Minorsurgeryclaim.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="MinorsurgeryoperationDecisionService" targetNamespace="http://www.ibm.com/rules/decisionservice/Minorsurgeryclaimdeploy/Minorsurgeryoperation" xmlns:dstns="http://www.ibm.com/rules/decisionservice/Minorsurgeryclaimdeploy/Minorsurgeryoperation" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.ibm.com/rules/decisionservice/Minorsurgeryclaimdeploy/Minorsurgeryoperation/param" xmlns:xom1="http://www.ibm.com/rules/decisionservice/Minorsurgeryclaimdeploy/Minorsurgeryoperation">
      <xsd:import namespace="http://www.ibm.com/rules/decisionservice/Minorsurgeryclaimdeploy/Minorsurgeryoperation"/>
      <xsd:element name="claim">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="claim" type="xom1:claim"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xs:schema targetNamespace="http://www.ibm.com/rules/decisionservice/Minorsurgeryclaimdeploy/Minorsurgeryoperation" version="1.0" xmlns:param="http://www.ibm.com/rules/decisionservice/Minorsurgeryclaimdeploy/Minorsurgeryoperation/param" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <xsd:import namespace="http://www.ibm.com/rules/decisionservice/Minorsurgeryclaimdeploy/Minorsurgeryoperation/param"/>

  <xs:complexType name="claim">
    <xs:sequence>
      <xs:element name="accumulatorINDeductAmount" type="xs:double"/>
      <xs:element name="accumulatorINOpexAmount" type="xs:double"/>
      <xs:element name="accumulatorONDeductAmount" type="xs:double"/>
      <xs:element name="accumulatorONOpexAmount" type="xs:double"/>
      <xs:element name="age" type="xs:int"/>
      <xs:element name="billedAmount" type="xs:double"/>
      <xs:element name="coInsuranceAmount" type="xs:double"/>
      <xs:element name="coPayAmount" type="xs:double"/>
      <xs:element name="deductableAmountLeft" type="xs:double"/>
      <xs:element name="diagnosticCode" type="xs:int"/>
      <xs:element minOccurs="0" name="isCoInsuranceAllowed" type="xs:string"/>
      <xs:element minOccurs="0" name="isCoPayAllowed" type="xs:string"/>
      <xs:element minOccurs="0" name="isDeductableAllowed" type="xs:string"/>
      <xs:element minOccurs="0" name="isIgnoreCostShare" type="xs:string"/>
      <xs:element minOccurs="0" name="isNetwork" type="xs:string"/>
      <xs:element minOccurs="0" name="isServiceAllowed" type="xs:string"/>
      <xs:element name="maxDeductableAmountAllowed" type="xs:double"/>
      <xs:element name="maximumAllowedAmount" type="xs:double"/>
      <xs:element name="memberId" type="xs:int"/>
      <xs:element name="paidByCompanyInsuranceAmount" type="xs:double"/>
      <xs:element name="patientCoInsuranceAmount" type="xs:double"/>
      <xs:element name="patientCoPayAmount" type="xs:double"/>
      <xs:element name="patientDeductableAmount" type="xs:double"/>
      <xs:element minOccurs="0" name="planName" type="xs:string"/>
      <xs:element name="procedureCode" type="xs:int"/>
      <xs:element name="serviceCode" type="xs:int"/>
      <xs:element minOccurs="0" name="serviceName" type="xs:string"/>
      <xs:element name="totalDeductableAmount" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
<xsd:element name="MinorsurgeryoperationRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="DecisionID" type="xsd:string"/>
            <xsd:element ref="param:claim"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MinorsurgeryoperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="qualified" name="DecisionID" type="xsd:string"/>
            <xsd:element ref="param:claim"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="MinorsurgeryoperationException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="exception" nillable="false" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="MinorsurgeryoperationRequest">
    <wsdl:part element="dstns:MinorsurgeryoperationRequest" name="MinorsurgeryoperationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MinorsurgeryoperationResponse">
    <wsdl:part element="dstns:MinorsurgeryoperationResponse" name="MinorsurgeryoperationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="MinorsurgeryoperationSoapFault">
    <wsdl:part element="dstns:MinorsurgeryoperationException" name="fault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="MinorsurgeryoperationDecisionService">
    <wsdl:operation name="Minorsurgeryoperation">
      <wsdl:input message="dstns:MinorsurgeryoperationRequest" name="MinorsurgeryoperationRequest">
    </wsdl:input>
      <wsdl:output message="dstns:MinorsurgeryoperationResponse" name="MinorsurgeryoperationResponse">
    </wsdl:output>
      <wsdl:fault message="dstns:MinorsurgeryoperationSoapFault" name="MinorsurgeryoperationSoapFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MinorsurgeryclaimdeployMinorsurgeryoperationBinding" type="dstns:MinorsurgeryoperationDecisionService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Minorsurgeryoperation">
      <soap:operation soapAction="Minorsurgeryoperation" style="document"/>
      <wsdl:input name="MinorsurgeryoperationRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="MinorsurgeryoperationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="MinorsurgeryoperationSoapFault">
        <soap:fault name="MinorsurgeryoperationSoapFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MinorsurgeryoperationDecisionService">
    <wsdl:port binding="dstns:MinorsurgeryclaimdeployMinorsurgeryoperationBinding" name="MinorsurgeryclaimdeployMinorsurgeryoperationPort">
      <soap:address location="http://localhost:9081/DecisionService/ws/minorsurgeryclaimdeploy/minorsurgeryoperation/v75"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>