benefit-coding/src/main/resources/wsdl/TestService.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions name="TestServiceOperationDecisionService" targetNamespace="http://www.ibm.com/rules/decisionservice/TestServiceDeploy/TestServiceOperation" xmlns:dstns="http://www.ibm.com/rules/decisionservice/TestServiceDeploy/TestServiceOperation" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.ibm.com/rules/decisionservice/TestServiceDeploy/TestServiceOperation/param" xmlns:xom1="http://www.ibm.com/rules/decisionservice/TestServiceDeploy/TestServiceOperation">
      <xsd:import namespace="http://www.ibm.com/rules/decisionservice/TestServiceDeploy/TestServiceOperation"/>
      <xsd:element name="claim">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="claim" type="xom1:claim"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xs:schema targetNamespace="http://www.ibm.com/rules/decisionservice/TestServiceDeploy/TestServiceOperation" version="1.0" xmlns:param="http://www.ibm.com/rules/decisionservice/TestServiceDeploy/TestServiceOperation/param" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <xsd:import namespace="http://www.ibm.com/rules/decisionservice/TestServiceDeploy/TestServiceOperation/param"/>

  <xs:complexType name="claim">
    <xs:sequence>
      <xs:element name="accumulatorINDeductAmount" type="xs:double"/>
      <xs:element name="accumulatorINOpexAmount" type="xs:double"/>
      <xs:element name="accumulatorONDeductAmount" type="xs:double"/>
      <xs:element name="accumulatorONOpexAmount" type="xs:double"/>
      <xs:element name="age" type="xs:int"/>
      <xs:element name="billedAmount" type="xs:double"/>
      <xs:element name="deductableAmountLeft" type="xs:double"/>
      <xs:element name="diagnosticCode" type="xs:int"/>
      <xs:element minOccurs="0" name="isCoInsuranceAllowed" type="xs:string"/>
      <xs:element minOccurs="0" name="isCoPayAllowed" type="xs:string"/>
      <xs:element minOccurs="0" name="isDeductableAllowed" type="xs:string"/>
      <xs:element minOccurs="0" name="isIgnoreCostShare" type="xs:string"/>
      <xs:element minOccurs="0" name="isNetwork" type="xs:string"/>
      <xs:element minOccurs="0" name="isServiceAllowed" type="xs:string"/>
      <xs:element name="maxDeductableAmountAllowed" type="xs:double"/>
      <xs:element name="maximumAllowedAmount" type="xs:double"/>
      <xs:element name="memberId" type="xs:int"/>
      <xs:element name="paidByCompanyInsuranceAmount" type="xs:double"/>
      <xs:element name="patientCoInsuranceAmount" type="xs:double"/>
      <xs:element name="patientCoPayAmount" type="xs:double"/>
      <xs:element name="patientDeductableAmount" type="xs:double"/>
      <xs:element minOccurs="0" name="planName" type="xs:string"/>
      <xs:element name="procedureCode" type="xs:int"/>
      <xs:element name="serviceCode" type="xs:int"/>
      <xs:element minOccurs="0" name="serviceName" type="xs:string"/>
      <xs:element name="totalDeductableAmount" type="xs:double"/>
    </xs:sequence>
  </xs:complexType>
<xsd:element name="TestServiceOperationRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="qualified" maxOccurs="1" minOccurs="0" name="DecisionID" type="xsd:string"/>
            <xsd:element ref="param:claim"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TestServiceOperationResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element form="qualified" name="DecisionID" type="xsd:string"/>
            <xsd:element ref="param:claim"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TestServiceOperationException">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="1" name="exception" nillable="false" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="TestServiceOperationResponse">
    <wsdl:part element="dstns:TestServiceOperationResponse" name="TestServiceOperationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TestServiceOperationRequest">
    <wsdl:part element="dstns:TestServiceOperationRequest" name="TestServiceOperationRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="TestServiceOperationSoapFault">
    <wsdl:part element="dstns:TestServiceOperationException" name="fault">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TestServiceOperationDecisionService">
    <wsdl:operation name="TestServiceOperation">
      <wsdl:input message="dstns:TestServiceOperationRequest" name="TestServiceOperationRequest">
    </wsdl:input>
      <wsdl:output message="dstns:TestServiceOperationResponse" name="TestServiceOperationResponse">
    </wsdl:output>
      <wsdl:fault message="dstns:TestServiceOperationSoapFault" name="TestServiceOperationSoapFault">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestServiceDeployTestServiceOperationBinding" type="dstns:TestServiceOperationDecisionService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="TestServiceOperation">
      <soap:operation soapAction="TestServiceOperation" style="document"/>
      <wsdl:input name="TestServiceOperationRequest">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="TestServiceOperationResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="TestServiceOperationSoapFault">
        <soap:fault name="TestServiceOperationSoapFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestServiceOperationDecisionService">
    <wsdl:port binding="dstns:TestServiceDeployTestServiceOperationBinding" name="TestServiceDeployTestServiceOperationPort">
      <soap:address location="http://localhost:9080/DecisionService/ws/TestServiceDeploy/TestServiceOperation/v75"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>